<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tourista</title>
    <link rel="shortcut icon" href="/images/logo.png">
    <link rel="stylesheet" href="/business.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700;800&family=Poppins:wght@300;400;500&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

<div class="container">
    <a href="/touristGuides/new">
    <div class="card">
        <div class="content">
            <div class="img"><img src="/images/touristGuide1.jpg"> </div>
            <div class="cardContent">
                <h3>Tourist Guide<br><span>Become a Guide</span></h3>
            </div>
        </div>
        <ul class="sci">
            <li style="--i:1">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
        </li>
        <li style="--i:2">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
        </li>
        <li style="--i:3">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
        </li>
        </ul>
    </div>
</a>
<div class="container">
    <a href="/hotels/new">
    <div class="card">
        <div class="content">
            <div class="img"><img src="/images/hotel.jpg"> </div>
            <div class="cardContent">
                <h3>Hotel<br><span>Register your Hotel</span></h3>
            </div>
        </div>
        <ul class="sci">
            <li style="--i:1">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
        </li>
        <li style="--i:2">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
        </li>
        <li style="--i:3">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
        </li>
        </ul>
    </div>
</a>
    <div class="container">
        <a href="/restaurants/new">
        <div class="card">
            <div class="content">
                <div class="img"><img src="/images/restaurant.jpg"> </div>
                <div class="cardContent">
                    <h3>Restaurant<br><span>Register your Restaurant</span></h3>
                </div>
            </div>
            <ul class="sci">
                <li style="--i:1">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
            </li>
            <li style="--i:2">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
            </li>
            <li style="--i:3">
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
            </li>
            </ul>
        </div>
    </a>
        <div class="container">
            <a href="/spots/new">
            <div class="card">
                <div class="content">
                    <div class="img"><img src="/images/tajmahal.jpg"> </div>
                    <div class="cardContent">
                        <h3>Place to visit<br><span>Register a Spot</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li style="--i:1">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
                </li>
                <li style="--i:2">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
                </li>
                <li style="--i:3">
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
                </li>
                </ul>
            </div>
        </a>
</div>
</div>
</body>
</html>